################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Planning 2021 1. semester/Uge 38/Ex09-OrangeTree/.vs/Ex09-OrangeTree/v16/TestStore/0
/Planning 2021 1. semester/Uge 38/Ex09-OrangeTree/.vs/ProjectSettings.json
/Planning 2021 1. semester/Uge 38/Ex09-OrangeTree/.vs/slnx.sqlite
